<header class="wrapper" style="display: flex; align-items: center; justify-content: space-between; padding: 1.5rem 0;">
  <nav style="display: flex; gap: 1.5rem; align-items: center;">
    <a href="/">Home</a>
    <a href="/publications/">Publications</a>
    <a href="/archive/">Archive</a>
  </nav>
{{ if eq .RelPermalink "/archive/" }}
  <div style="display: flex; align-items: center; gap: 1rem;">
    <span id="dark-icon" class="toggle-icon" style="cursor: pointer;">⚫</span>
  </div>
{{ else }}
  <div style="display: flex; align-items: center;">
    <span id="dark-icon" class="toggle-icon" style="cursor: pointer;">⚫</span>
  </div>
{{ end }}

</header>
